# --- Archivos compilados ---
*.class
bin/
build/

# --- Eclipse y herramientas ---
.metadata/
.sonarlint/
.settings/
.classpath
.project

# --- Logs y temporales ---
*.log
*.ctxt
.mtj.tmp/

# --- Empaquetados ---
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Errores de la JVM ---
hs_err_pid*
replay_pid*

# --- Sistema Operativo ---
.DS_Store
Thumbs.db
